.vscode/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

lib/core/CMakeFiles/
lib/core/CCMakeCache.txt
lib/core/cmake_install.cmake
lib/core/Makefile
lib/core/libcore.a

lib/vdom/CMakeFiles/
lib/vdom/CCMakeCache.txt
lib/vdom/cmake_install.cmake
lib/vdom/libvdom.a
lib/vdom/Makefile

lib/parser/CMakeFiles/
lib/parser/CCMakeCache.txt
lib/parser/cmake_install.cmake
lib/parser/libvdom.a
lib/parser/Makefile

Makefile

node_modules/