{
    "presets": [
      ["@babel/preset-env", {
        "modules": false,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": ["Firefox >= 22", "Chrome >= 28", "Opera >= 15"]
        }
      }]
    ],
    "plugins": []
}
